.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__egUa {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.freeBox__egUa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__egUa > :global(.__wab_flex-container) > *,
.freeBox__egUa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__egUa > :global(.__wab_flex-container) > picture > img,
.freeBox__egUa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__egUa {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__egUa > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__egUa > :global(.__wab_flex-container) > *,
  .freeBox__egUa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__egUa > :global(.__wab_flex-container) > picture > img,
  .freeBox__egUa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__yscuf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__yscuf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__yscuf > :global(.__wab_flex-container) > *,
.freeBox__yscuf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yscuf > :global(.__wab_flex-container) > picture > img,
.freeBox__yscuf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__xx7G {
  position: relative;
  font-weight: 700;
}
.freeBox__jiKsO {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jiKsO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jiKsO > :global(.__wab_flex-container) > *,
.freeBox__jiKsO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jiKsO > :global(.__wab_flex-container) > picture > img,
.freeBox__jiKsO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link___94Pb {
  position: relative;
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link___94Pb:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.link___4E3Vl {
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link___4E3Vl:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.link__yA1I {
  position: relative;
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__yA1I:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.link__zCvr2 {
  position: relative;
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__zCvr2:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.freeBox__ceXcf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ceXcf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ceXcf > :global(.__wab_flex-container) > *,
.freeBox__ceXcf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ceXcf > :global(.__wab_flex-container) > picture > img,
.freeBox__ceXcf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text___1NQbZ {
  position: relative;
  font-weight: 700;
}
.freeBox__bsn8L {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bsn8L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bsn8L > :global(.__wab_flex-container) > *,
.freeBox__bsn8L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bsn8L > :global(.__wab_flex-container) > picture > img,
.freeBox__bsn8L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__izL9G {
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__izL9G:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.link___4Mt2 {
  position: relative;
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link___4Mt2:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.link__wridv {
  position: relative;
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__wridv:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.link__bAiWq {
  position: relative;
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
  -webkit-transition-property: all, all;
  -webkit-transition-duration: 1s, 0.5s;
}
.root .link__bAiWq:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.link__sqpPa {
  position: relative;
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__sqpPa:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.freeBox__aikG0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__aikG0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__aikG0 > :global(.__wab_flex-container) > *,
.freeBox__aikG0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aikG0 > :global(.__wab_flex-container) > picture > img,
.freeBox__aikG0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__qKIe {
  position: relative;
  font-weight: 700;
}
.freeBox__xR3Uf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__xR3Uf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xR3Uf > :global(.__wab_flex-container) > *,
.freeBox__xR3Uf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xR3Uf > :global(.__wab_flex-container) > picture > img,
.freeBox__xR3Uf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__zurUj {
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__zurUj:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.link___2Bevd {
  position: relative;
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link___2Bevd:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.link__tf1Gr {
  position: relative;
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__tf1Gr:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.link___8VJFr {
  position: relative;
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link___8VJFr:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.link__w39Xs {
  position: relative;
  color: var(--token-uadOSWyPh9SQ);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__w39Xs:hover {
  color: var(--token-dmQXLy0ZN8YW);
  padding-left: 10px;
}
.freeBox__ioKpO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ioKpO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ioKpO > :global(.__wab_flex-container) > *,
.freeBox__ioKpO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ioKpO > :global(.__wab_flex-container) > picture > img,
.freeBox__ioKpO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__zujQe {
  position: relative;
  font-weight: 700;
}
.text__d9SYw {
  position: relative;
  font-size: 14px;
  color: var(--token-uadOSWyPh9SQ);
}
.freeBox___5PAiC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #cbcbcb;
  transition-property: all;
  transition-duration: 0.5s;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  border-radius: 5px;
}
.root .freeBox___5PAiC:hover {
  box-shadow: 4px 4px 4px 4px var(--token-uadOSWyPh9SQ);
}
.textInput {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 5px;
  padding: 12px;
  border-width: 0px;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svg___3Qog {
  position: relative;
  object-fit: cover;
  color: var(--token-dmQXLy0ZN8YW);
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__am8Va {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: var(--token-GyIueU_Ta9iw);
  padding: 32px 16px;
}
.freeBox__am8Va > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__am8Va > :global(.__wab_flex-container) > *,
.freeBox__am8Va > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__am8Va > :global(.__wab_flex-container) > picture > img,
.freeBox__am8Va
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__aijCv {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__aijCv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__aijCv > :global(.__wab_flex-container) > *,
.freeBox__aijCv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aijCv > :global(.__wab_flex-container) > picture > img,
.freeBox__aijCv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__kn2VI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___0GFzz {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg___0GFzz:hover {
  color: var(--token-dmQXLy0ZN8YW);
}
.iconLink__oa2Ql:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zjFaQ {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__zjFaQ:hover {
  color: var(--token-dmQXLy0ZN8YW);
}
.iconLink__pet5W:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tuOmp {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__tuOmp:hover {
  color: var(--token-dmQXLy0ZN8YW);
}
.freeBox__gQe3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gQe3 {
    display: flex;
    flex-direction: column;
  }
}
.text__ivxXv {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__fkZax {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__fkZax:hover {
  text-decoration-line: underline;
}
.link__v8Eiw {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__v8Eiw:hover {
  text-decoration-line: underline;
}
