.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox__bca2T {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__c6Jl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: var(--token-GyIueU_Ta9iw);
}
.freeBox__c6Jl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__c6Jl > :global(.__wab_flex-container) > *,
.freeBox__c6Jl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c6Jl > :global(.__wab_flex-container) > picture > img,
.freeBox__c6Jl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__mv7Xm {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.productCarousel:global(.__wab_instance) {
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__qQh1F {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
}
.text__zIp3M {
  position: relative;
  color: var(--token-aBlRB7X_cop6);
  font-size: 30px;
  font-weight: 500;
}
.productCollection__dHieS:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__dHieS:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 10px;
  }
}
.productCard__ueOgs:global(.__wab_instance) {
  max-width: 100%;
}
.productMedia__wqE8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}
.ratings___2MEhh:global(.__wab_instance) {
  position: relative;
}
.text__zXcl3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__v06X0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox__qY0R9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text___4X1Ey {
  position: relative;
  color: var(--token-aBlRB7X_cop6);
  font-size: 30px;
  font-weight: 500;
}
.productCollection__dlo0M:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__dlo0M:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.productCard__cbT1:global(.__wab_instance) {
  max-width: 100%;
}
.productMedia__zFxc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}
.ratings__sJ13N:global(.__wab_instance) {
  position: relative;
}
.text__fto2Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qYvqd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___7WzTw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__lftx4 {
  position: relative;
  color: var(--token-aBlRB7X_cop6);
  font-size: 30px;
  font-weight: 500;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__k35N7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__foIsQ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___3URuf {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___3URuf > picture > img {
  object-fit: cover;
}
.column__s1Oix {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost___7JDxe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__uiMjt {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__uiMjt > picture > img {
  object-fit: cover;
}
.column___9VcKc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__gUNn4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___0ADng {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___0ADng > picture > img {
  object-fit: cover;
}
.freeBox___1P5YE {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-GyIueU_Ta9iw);
  padding: 48px;
}
.freeBox___1P5YE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___1P5YE > :global(.__wab_flex-container) > *,
.freeBox___1P5YE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1P5YE > :global(.__wab_flex-container) > picture > img,
.freeBox___1P5YE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__w1YbV {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__w1YbV > picture > img {
  object-fit: cover;
}
.img__lzOXt {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__lzOXt > picture > img {
  object-fit: cover;
}
.img__sm1Aj {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__sm1Aj > picture > img {
  object-fit: cover;
}
.img__qwR3E {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__qwR3E > picture > img {
  object-fit: cover;
}
.img__mxWUd {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__mxWUd > picture > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
